@charset "utf-8";
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;   /* 根元素是10px;     16*62.5%=10  默认在pc端根元素会解析成12px    */
}

body {
    font: 12px/1.5 'Microsoft YaHei','宋体', Tahoma, Arial, sans-serif;
    color: #555;
    background-color: #F7F7F7;
}
em, i {
    font-style: normal;
}
ul,li{
    list-style-type: none;
}
strong {
    font-weight: normal;
}
.clearfix:after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}
//继续点餐
.book-btn {
  position: fixed;
  width: 4.5rem;
  height: 4.5rem;
  left: 50%;
  margin-left: -2.25rem;
  bottom: 2rem;
  border-radius: 50%;
  background-color: #141615;
  text-align: center;
  img {
    width: 2rem;
    height: 2rem;
    margin-top: .3rem;
  }
  p {
    color: white;
    margin-top: -.2rem;
  }
}
//购物车
.cart-btn {
  position: fixed;
  width: 4.5rem;
  height: 4.5rem;
  right: 2rem;
  bottom: 2rem;
  background-color: red;
  border-radius: 50%;
  text-align: center;
  img {
    width: 2rem;
    height: 2rem;
    margin-top: .3rem;
  }
  p {
    margin-top: -0.2rem;
    color: white;
  }

  .dish-num {
    position: absolute;
    top: -.8rem;
    right: -.8rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: red;
    color: white
  }
}
